<section class="about">
<div class="container">
<div class="top-header">
  <h1>Chi Siamo</h1>
</div>
<div class="top-container">
 <p align="justify">In M&C Partners S.r.l. si sono radunate diverse storie professionali,<span style="font-weight: bold"> raccontano di un circolo virtuoso</span> inedito, costituito da una ricerca strutturale, metodologie, competenze ed esperienze.</p>
        <p align="justify"><span style="font-weight: bold">Ricerca</span> perché le attuali conoscenze e metodologie strategiche, finanziarie ed organizzative, utilizzate da società di consulenza e Istituzioni finanziarie, non sono più sufficienti a comprendere e gestire l'attuale crisi strutturale.</p>
        <p align="justify"><span style="font-weight: bold">Strutturale</span> in quanto indica la necessità di un cambiamento profondo della struttura stessa della società industriale e delle imprese che ne costituiscono l'asse portante. </p>
        <p align="justify">Una ricerca che è partita dalla riflessione sui modelli e le metafore della<span style="font-weight: bold"> “complessità”</span>, che sono nati in ogni dove nelle scienze naturali. E si è concretizzata in <strong>nuove metodologie</strong> per supportare non solo le imprese, ma anche le istituzioni finanziarie e tutte le altre organizzazioni complesse, nel superare l'attuale crisi di trapasso.</p>
        <p align="justify"><u>Nello specifico nuove metodologie per:</u></p>
  
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Progettare la <strong>Strategia</strong><strong> d'impresa</strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Gestire operazioni di <strong>Finanza straordinaria</strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Pianificare e controllare <strong>Progetti di sviluppo</strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Manifestare <strong>Responsabilità sociale ed ambientale</strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Progettare e gestire <strong>Processi di cambiamento organizzativo</strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Progettare e gestire <strong>Processi di creazione e sviluppo di mercati</strong></span><br />
   

        <p align="justify">Le Esperienze hanno riguardato l'applicazione delle metodologie sopra elencate in tutti i principali settori economici con tutte le tipologie di clienti, dalle grandi imprese ed organizzazioni complesse, alle PMI.</p>
              <p align="justify"> Queste storie professionali, che hanno coniugato ricerca ed esperienza, hanno immaginato un nuovo Progetto Imprenditoriale comune...</p>
              </div>
</section>