<div class="container">
	
	<div class="row">

		<div class="col-md-4">
			<!-- Mi piace perchè è fatto da zingaro, ma è zingaro in ruby, quindi tu non puoi saperlo :D (Ma sappi che è fatto da zingaro. Puoi cambiarlo in CSS, basta inserire una classe con class: "nome_classe". Un po' come ho fatto io con "img-responsive" ma con qualcosa che abbia più senso)-->
			<%= image_tag("cerchio3esa.png", height: "70%", :width => "70%", alt: "Research, Manage, Adapt", class: "img-responsive") %>
		</div>

	  <div class="col-md-8">
	  	<blockquote class="blockquote-reverse">
				<h3>At M&C Partners S.r.l. we have gathered a range of professionals who bring together their experiences and expertise established through structural research, methodologies and competences in what we call a virtual circle.<br>
					<small>We are able to understand and manage structural crisis and deliver change at core level thanks to a continuous research that has enabled us to apply and adapt existing models used in nature to the support of financial and other complex organizations.</small></h3>
			</blockquote>
		</div>
	</div>


</div>

<div class="container">

	<h3 class="text-center">We than apply the new methodologies to:</h3>

</div>
