<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<section class="carousel">
<div class="container">
  <%= vider_tag 'assets/milano', position: '100% 100%', width: '100%', height: '400px', volume: '0' %><div class="caption">L'ECCELLENZA MILANESE NELLA</font><br/> <span class="caption-title">CONSULENZA<br/> DIREZIONALE</span></div>
  </div> <!-- /.container -->
</section>
<!--<section class="carousel">
<div id="owl-demo" class="owl-carousel owl-theme">
  <div class="item"><a href=""><img src="assets/fullimage1.jpg" alt="The Last of us"><span class="caption">A test caption</span></a></div>
  <div class="item"><img src="assets/fullimage2.jpg" alt="GTA V"></div>
  <div class="item"><img src="assets/fullimage3.jpg" alt="Mirror Edge"></div>
</div>
</section>-->

<section class="payoff">
  <div class="container">
    <div class="col-md-12 center-heading">
      <h2>FRASE AD EFFETTO</h2>
      <span class="center-line"></span>
      <p>Sottotitolo esplicativo che descirve la societa bla bla bla</p>
    </div>
  </div> <!-- /.container -->
</section>

<section class="trittico">
  <div class="container">
    <div class="row"> <!-- Three columns of text below the carousel -->
      <div class="col-lg-4">
        <img src="assets/competent.svg" alt="Competenza" width="100" height="100">
        <h2>Competenza</h2>  
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets/professional.svg" alt="Professionalit&agrave;" width="100" height="100">
        <h2>Profesionalit&agrave;</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets/dedicated.svg" alt="Dedizione" width="100" height="100">
        <h2>Dedizione</h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div> <!-- /.container -->
</section>

<section class="quote" id="intro" data-speed="6" data-type="background">
    <div class="container">
       <div class="col-md-12 center-heading">
      <h2>FRASE AD EFFETTO</h2>
      <span class="center-line"></span>
      <p>Sottotitolo esplicativo che descirve la societa bla bla bla</p>
    </div>
    </div>
</section>

<section class="fun-facts"> 
  <div class="container">           
    <div class="row">
      <div class="col-md-3 margin20 facts-in">
        <h3><span class="counter">126</span> +</h3>
        <h4>TurnArounds</h4>
      </div><!--facts in-->
      <div class="col-md-3 margin20 facts-in">
        <h3><span class="counter">87</span></h3>
        <h4>M&A Deals</h4>
      </div><!--facts in-->
      <div class="col-md-3 margin20 facts-in">
        <h3><span class="counter">349</span> +</h3>
        <h4>Clienti </h4>
      </div><!--facts in-->
      <div class="col-md-3 margin20 facts-in">
        <h3><span class="counter">3578</span></h3>
        <h4>Caffe'</h4>
      </div><!--facts in-->
    </div>
  </div> <!-- /.container -->
</section>

<section class="whatwedo"> 
  <div class="container">   
<hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Consulenza Direzionale <br/><span class="text-muted subtitle">Affiancandoti verso il successo</span></h2>
          <p class="lead"><p>M&amp;C Partners è da sempre operativa nella consulenza direzionale, intesa come affiancamento alle figure aziendali alle quali spetta prendere decisioni ed operare scelte strategiche per l’impresa.<br />
              In molteplici contesti, mercati differenti ed innumerevoli situazioni, il supporto di un soggetto terzo può rivelarsi decisivo al fine di permettere all’imprenditore ad una visione obiettiva ed efficiente delle proprie condizioni, dove situazioni contingenti o problemi di governance hanno assorbito energie per il mantenimento della “rotta”.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://image.shutterstock.com/display_pic_with_logo/1645481/189081512/stock-photo-abstract-image-of-business-people-in-the-street-and-modern-style-with-a-blurred-background-189081512.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">M&A e Finanza Straordinaria <br/><span class="text-muted subtitle">Per ottenere il massimo da fusioni e acquisizioni</span></h2>
          <p class="lead">Strategie di sviluppo e di riorganizzazione aziendale possono prevedere spesso la conquista di quote di mercato attraverso la realizzazione di operazioni d’acquisizione o di fusione.
M&C Partners, grazie a specifiche competenze, è l’Advisor in operazioni di M&A, sviluppandone accanto all’imprenditore gli aspetti tecnici, senza perdere di vista le motivazioni strategiche che sottendono.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://image.shutterstock.com/display_pic_with_logo/91282/125338145/stock-photo-image-of-business-partners-discussing-documents-and-ideas-at-meeting-125338145.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Temporary Management <br/><span class="text-muted subtitle">I tuoi professionisti on-demand</span></h2>
          <p class="lead">In molteplici situazioni, per le più disparate ragioni, un’impresa può trovarsi in una condizioni di assenza di figure chiave un particolari in particolari aree operative e strategiche. In risposta a questa esigenza M&C Partners è in grado di offrire servizi di gestione temporanea in aree di General Management, Sales Management ed Operations Management. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://image.shutterstock.com/display_pic_with_logo/91282/169040624/stock-photo-portrait-of-smart-business-partners-communicating-at-meeting-169040624.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Turnaround <br/><span class="text-muted subtitle">La medicina per le attivit&agrave; in crisi</span></h2>
          <p class="lead">La “vita” di un’impresa è fatta di molte fasi… tra queste non mancano, la storia più recente ne è cinica testimone, i momenti di crisi.
In queste situazioni spesso diventato essenziali urgenti piani di Risanamento e di Ristrutturazione profonda, dalla riorganizzazione giuridica della proprietà o dalla ridefinizione operativa a più complesse operazioni di Ristrutturazioni del debito o di maggior gravità come l’accesso a procedure concorsuali. M&C Partners è in grado di offrire l’affiancamento ed il supporto di professionisti specializzati dalla lunga esperienza specifica nella gestione e superamento della “fase critica”.</p><br/>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://thumb1.shutterstock.com/display_pic_with_logo/210376/123089410/stock-photo-businessman-using-his-tablet-in-the-office-123089410.jpg" alt="Generic placeholder image">
        </div>
      </div>
      </div> <!-- /.container -->
</section>

<section class="testimonial" id="home" data-speed="4" data-type="background">
 <div class="container">
       <div class="col-md-12 center-heading">
       <h2>FRASE AD EFFETTO</h2>
      <span class="center-line"></span>
      <p>Sottotitolo esplicativo che descirve la societa bla bla bla</p>
    </div>
    </div>
</section>



<!--<script>
    $('.owl-carousel').owlCarousel({
        items:1,
        merge:true,
        loop:true,
        margin:0,
        video:true,
        lazyLoad:true,
        center:true,
        responsive:{
            480:{
                items:2
            },
            600:{
                items:4
            }
        }
    })
</script>-->

<!--<script>$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      autoPlay:true,
      stopOnHover:true,
      pagination:false
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
 
});</script>-->   

<script>
$(document).ready(function(){
   // cache the window object
   $window = $(window);
 
   $('section[data-type="background"]').each(function(){
     // declare the variable to affect the defined data-type
     var $scroll = $(this);
                     
      $(window).scroll(function() {
        // HTML5 proves useful for helping with creating JS functions!
        // also, negative value because we're scrolling upwards                             
        var yPos = -($window.scrollTop() / $scroll.data('speed')); 
         
        // background position
        var coords = '50% '+ yPos + 'px';
 
        // move the background
        $scroll.css({ backgroundPosition: coords });    
      }); // end window scroll
   });  // end section function
}); // close out script
</script>   