<section class="jobs">
<div class="container">
<div class="top-header">
  <h1><%= I18n.t 'jobs-1'%></h1>
</div>
<div class="top-container">
<%= I18n.t 'jobs-2'%>
<br/>
<%= I18n.t 'jobs-3'%>
</div>
</section>