<section class="manda">
<div class="container">
<div class="top-header">
  <h1>M&A e Finanza Straordinaria</h1>
</div>
<div class="top-container">
<p>Strategie di sviluppo e di riorganizzazione aziendale possono prevedere spesso la conquista di quote di mercato attraverso la realizzazione di operazioni d’acquisizione o di fusione.<br />
            M&amp;C Partners, grazie a specifiche competenze, è l’Advisor in operazioni di M&amp;A, sviluppandone accanto all’imprenditore gli aspetti tecnici, senza perdere di vista le motivazioni strategiche che sottendono.</p>
            <p>Il Team di professionisti M&amp;C Partners ha sviluppato significative esperienze di direzione aziendale e consulenza nella ricerca, strutturazione e finalizzazione di strategie d’acquisizione, d’investimento, fusione, privatizzazione, joint venture e finanza strutturata in genere, assistendo l’imprenditore in tutte le fasi della transazione.</p>
            <p>I servizi di advisory offerti riguardano pertanto tutte le attività necessarie per la realizzazione di un’operazione di fusione, acquisizione, vendita di una società o di un ramo della stessa, ovvero la ricerca di Partner finanziari e/o industriali.</p>
            <p>Le operazioni di fusione ed acquisizione, joint venture e partnership assumono importanza primaria per lo sviluppo dell’impresa in un contesto di elevata competizione, di crescente globalizzazione e di forte e continuo rischio di crisi generalizzata.</p>
            <p>M&amp;C Partners assiste i propri clienti nell’ideazione e realizzazione di operazioni quali acquisizioni, disinvestimenti, fusioni, joint ventures, ristrutturazioni societarie, ricapitalizzazioni, spin-off, offerte di scambio, leveraged buyout ed azioni di difesa contro tentativi di takeover.</p>
            <p>Attraverso una metodologia d’intervento consolidata negli anni M&amp;C Partners affianca gli imprenditori dalla definizione dei propri obiettivi economici, fino al closing delle operazioni necessarie alla loro realizzazione.</p>
        <p>Modalità d’intervento:</p>
            <p>• Raccolta dati ed informazioni presso la società <br />
              • Predisposizione dell’information memorandum<br />
              • Determinazione del fair value<br />
              • Assistenza nella determinazione della strategia del progetto di vendita<br />
              • Assistenza nell’identificazione delle controparti da coinvolgere nell’operazione<br />
              • Coordinamento delle due diligences e di tutti i professionisti coinvolti nel processo (legali,fiscalisti, soc. revisione)<br />
              • Assistenza nella trattative con la controparte e nella valutazione e comparazione delle offerte ricevute<br />
              • Assistenza nell’elaborazione della lettera di intenti<br />
              • Assistenza nella negoziazione del contratto<br />
              • Closing<br />
              M&amp;C Partners è attiva nella individuazione, costruzione e realizzazione di operazioni di Finanza Straordinaria che possano valorizzare l’impresa e la sua identità economica e sociale.</p>
              </div>
</section>

