 <section class="turnaroud">
<div class="container">
<div class="top-header">
  <h1>Turnaround</h1>
</div>
<div class="top-container">
<p>La  “vita” di un’impresa è fatta di molte fasi… tra queste non mancano, la storia  più recente ne è cinica testimone, i momenti di crisi.<br>
            In queste situazioni spesso diventato essenziali <strong>urgenti piani di Risanamento e di Ristrutturazione profonda</strong>, dalla riorganizzazione  giuridica della proprietà o dalla ridefinizione operativa a più complesse  operazioni di <strong>Ristrutturazioni del  debito</strong> o di maggior gravità come <strong>l’accesso  a procedure concorsuali</strong>. M&amp;C Partners è in grado di offrire l’affiancamento  ed il supporto di professionisti specializzati dalla lunga esperienza specifica  nella gestione e superamento della “fase critica”.<br>
            Attraverso la definizione di due particolari step  d’intervento: il primo volto a porre fine alla crisi aziendale, rimuovendone le  cause, ed il secondo teso alla determinazione di una strategia e all’attivazione  di un piano che permetta il recupero della redditività e dei flussi di cassa,  M&amp;C Partners accompagna aziende ed imprenditori verso il rilancio e la  ripresa della “normale” attività aziendale.<br>
  <strong>Steps</strong></p>
          <ul>
            <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Analisi approfondita delle cause che hanno prodotto lo stato di crisi ed  individuazione delle soluzioni per loro rimozione;</span><br />
            <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Produrre accurate previsioni di capitale circolante netto;</span><br />
            <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Garantire all'azienda liquidità sufficiente per gestire una completa  ristrutturazione;</span><br />
            <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Fornire linee aperte e chiare di comunicazione con i creditori; </span><br />
            <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000">Aggiornamento costante del piano d'attività dettagliato ed in concerto con  la proprietà.</span><br />
          </ul>
          </div>
</section>