<footer class="dark-bg">
  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left"> &copy; <strong>M&C Partners S.r.l.</strong><br/>Via Borghetto, 3 - Milano - Iscr. Reg. Impr. di Milano / P.Iva 08668450961 - c.s. € 10.000 i.v. All rights reserved.</p>
      <ul class="footer-menu pull-right">
        <li><a href="jobs">Lavora Con Noi</a></li>
        <li><a href="privacy">Privacy</a></li>
        <br/><span style="font-size:7px; float:right;"> Icons by iconsmind.com</span>
      </ul><!-- .footer-menu -->
    </div><!-- .container -->
  </div><!-- .footer-bottom -->
</footer>

</div> <!-- /container -->
<br/><br/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>