<div class="container">
  <div class="header clearfix">
    <nav>
      <div class="container-fluid">
        <div class="navbar-header"> <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="menu-tgl">MENU</span>
          </button>
          <a href="/"><img class="navbar-brand" src="assets/logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="about">Chi Siamo</a></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false" href="#" role="button" aria-expanded="false">
                Cosa Facciamo <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
               <li><a href="consulenza-direzionale">Consulenza Direzionale</a>
               <li><a href="m-and-a">M&A</a>
               <li><a href="temporary-management">Temporary Management</a>
               <li><a href="turnaround">Turnaround</a> 
              </ul>
            </li>
            <li><a href="mission">Mission</a></li>
            <li><a href="contact">Contatti</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>



 